/* 定义滚动条整体样式 */
::-webkit-scrollbar {
  width: 5px; /* 对于垂直滚动条 */
  height: 5px; /* 对于水平滚动条 */
}

/* 定义滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background: #ddd; /* 轨道的背景颜色 */
}

/* 定义滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background: #1890ff; /* 滑块的背景颜色 */
  border-radius: 5px; /* 滑块的圆角 */
}

/* 定义滚动条滑块 hover 时的样式（可选）*/
::-webkit-scrollbar-thumb:hover {
  background: #555; /* hover 时滑块的背景颜色 */
}
* {
  margin: 0;
  padding: 0;
}